name: Deploy

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:

  deploy:
    strategy:
      matrix:
        os-version: [ubuntu-latest]
        node-version: [23.x]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Clone Repo
      uses: actions/checkout@v3.0.2

    - name: Prepare java
      uses: actions/setup-java@v3.3.0
      with:
        distribution: 'adopt'
        java-version: '21'

    - name: Install clojure cli
      uses: DeLaGuardo/setup-clojure@master
      with:
        cli: 1.12.0.1530

    - name: Build ${{ matrix.node-version }}
      uses: actions/setup-node@v3.2.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: |
        npm ci
        npm run release
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
